body {
    font-family: system-ui;
    max-width: 480px;
}

header {
    border-bottom: 1px solid #ccc;
}

footer {
    border-top: 1px solid #ccc;
}

ul li ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

ul li ul li {
    display: inline-block;
    margin-right: 5px;
}